
body{
   
    background-color: #ffefef;
    padding-top: 50px;
    
}
h1{
    color: #5c2e2e;
    font-size: 30px;
    text-align: center;
    padding-top: 40px;
    margin-top: 40px;
}
.card{
    padding-top: 50px;
    width: 1000px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.card1{
    padding-top: 50px;
    width: 1000px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 45px;
}