*{
    margin: 0;
    padding: 0;
}
.load{
    animation: slide 2s;

}
.slider{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh;
    animation: slide 15s infinite;

}
.content{
    color:#fff;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}
.principal{
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    letter-spacing: 5px;
    text-align: center;

}
.principal h1{
    font-size: 70px;
    margin-bottom: 20px;
}

.principal p{
    font-size: 20px;
 
}
@keyframes slide{
    0%{
        background-image: url("image/b1.jpg");
    }

    20%{
        background-image: url("image/b1.jpg");
    } 
    20.01%{
        background-image: url("image/b2.jpg");
    } 
    
    40%{
        background-image: url("image/b2.jpg");
    }

    40.01%{
        background-image: url("image/b3.jpg");
    } 
    
    60%{
        background-image: url("image/b3.jpg");
    }

    60.01%{
        background-image: url("image/b4.jpg");
    } 
    80%{
        background-image: url("image/b4.jpg");
    } 
    
    80.01%{
        background-image: url("image/b5.jpg");
    } 
    
    100%{
        background-image: url("image/b5.jpg");
    } 
    
    
}

.service h1{
    text-align: center;
    font-size: 40px;
    margin-top: 2%;
}

.services-row {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
}
.services-col:hover{
    transition: 1s cubic-bezier(0.075, 0.82, 0.165, 1);
    transform: rotate(5deg);
}
.services-col {
    height: 22rem;
    color: #5c2e2e;
    background-color: #d9b38c;
    background-position: center;
    background-size: cover;
    border-radius: 15px;
    flex: 1 1 25rem;
    padding: 1.2rem;
    margin: 1.5rem;
    text-align: center;
    
}

.services-col i {
    padding: 2.2rem;
    border: none;
    background: aliceblue;
    border-radius: 5rem;
    font-size: 2.8rem;
    align-items: center;
    text-align: center;
      justify-content: center;
    

}

.services-col h2 {
    padding: 1rem 0;
    font-size: 2rem;
    color: #000;
    text-align: center;
}

.services-col p {
    font-size: 1.2rem;
    color: #000;
    text-align: center;
}

@media (max-width:767px) {
    .service {
        margin-bottom: 30rem;
    }
}