*{
    margin: 0;
    padding: 0;
}
/* Banner */
.load{
    animation: slide 2s;

}
.slider{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh;
    animation: slide 15s infinite;

}
.content{
    color:#fff;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}
.principal{
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    letter-spacing: 5px;
    text-align: center;

}
.principal h1{
    font-size: 70px;
    margin-bottom: 20px;
}

.principal p{
    font-size: 20px;
 
}
@keyframes slide{
    0%{
        background-image: url("image/b1.jpg");
    }

    20%{
        background-image: url("image/b1.jpg");
    } 
    20.01%{
        background-image: url("image/b2.jpg");
    } 
    
    40%{
        background-image: url("image/b2.jpg");
    }

    40.01%{
        background-image: url("image/b3.jpg");
    } 
    
    60%{
        background-image: url("image/b3.jpg");
    }

    60.01%{
        background-image: url("image/b4.jpg");
    } 
    80%{
        background-image: url("image/b4.jpg");
    } 
    
    80.01%{
        background-image: url("image/b5.jpg");
    } 
    
    100%{
        background-image: url("image/b5.jpg");
    } 
    
    
}

/* service */
.service h3{
    text-align: center;
    font-size: 40px;
    margin-top: 5%;
    color: #5c2e2e;
}

.services-row {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    
}
.services-col:hover{
    transition: 1s cubic-bezier(0.075, 0.82, 0.165, 1);
    transform: rotate(5deg);
}
.services-col {
    height: 22rem;
    color: #5c2e2e;
    background-color: #ddbbbb;
    background-position: center;
    background-size: cover;
    border-radius: 15px;
    flex: 1 1 25rem;
    padding: 1.2rem;
    margin: 1.5rem;
    text-align: center;
    
}

.services-col i {
    padding: 2.2rem;
    border: none;
    background: aliceblue;
    border-radius: 5rem;
    font-size: 2.8rem;
    align-items: center;
    text-align: center;
      justify-content: center;
    

}

.services-col h2 {
    padding: 1rem 0;
    font-size: 2rem;
    color: #000;
    text-align: center;
}

.services-col p {
    font-size: 1.2rem;
    color: #000;
    text-align: center;
}

@media (max-width:767px) {
    .service {
        margin-bottom: 30rem;
    }
}

/* trending places */

h3{
	color: #5c2e2e;
    text-align: center;
    font-size: 30px;
    margin-top: 5%;
}

.box{
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
}

.card{
	overflow: hidden;
	background: #ffefef;
	color: #000000;
	text-align: center;
	width: 290px;
	height: 400px;
	padding: 2rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	border-radius: 10px;
	margin: 2rem;
}

.card .title, .card .price{
	font-size: 19px;
}
.card .star{
    color: #000;
    font-size: 10px;
}
.card .star .checked{
    color: orange;
}
.card:hover {
	box-shadow: 5px 15px 25px #eeeeee;
}

.card img {
	height: 100%;
	width: 100%;
}

.card .btn:link{
	color: #ececec;
	display: inline-block;
	text-decoration: none;
	background-color: #5c2e2e;
	padding: 1.2rem 3rem;
	border-radius: 1rem;
	margin-top: 1rem;
	font-size: 14px;
	transition: all 0.2s;
}

.card .btn:hover{
	transform: scale(1.1);
    background-color: #dda2a2;
}
